.wrapper a, .wrapper a:link, .wrapper a:visited {
    color: #4e86b2;
}

pre {
    padding: 20px 0;
    color: #7e879c;
    font-family: Inconsolata, Monaco, Consolas, 'Courier New', Courier;
    font-family: Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

.goal-wrapper {
    background-color: #34363f;
    margin: 0 -15px;
    padding-left: 15px;
}

pre p {
    margin: 0 0 0 20px;
    display: inline-block;
}

button {
    cursor: pointer;
    background-color: #34363f;
    color: #7e879c;
    padding: 4px 16px;
    font-size: 12px;
    border: 2px solid #1a1a1a;
}

button:hover {
    color: #ddd;
    background-color: transparent;
}

button:active {
    cursor: pointer;
    background-color: #34363f;
    color: #7e879c;
    padding: 4px 16px;
    font-size: 12px;
    border: 2px solid #1a1a1a;
}

button:focus {
    outline: none;
}

.code {
    text-indent: 20px;
}

input[type="number"] {
    background: transparent;
    color: #8ba589;
    border: none;
    font-size: 16px;
    line-height: 16px;
    -moz-appearance: textfield;
    caret-color: #4072e2;
}

input[type="number"]:focus {
    outline: none;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
